<h1 class='text-center'>Image generator</h1>
<form action='/' method='post'>
  <input
    type='text'
    class='form-control mb-2 w-40'
    name='prompt'
    placeholder='Enter img name'
    required
  />
  <select name='size' class='form-control mb-2'>
    <option value='256x256'>smal</option>
    <option value='512x512'>medium</option>
    <option value='1024x1024'>large</option>
  </select>
  <input type='number' value='1' class='form-control mb-2' />
  <button type='submit' class='btn btn-primary'>generator</button>
</form>
{{#if images}}
  <div class='row'>
    {{#each images}}
      <img src='{{this.url}}' class='rounded mx-auto d-block w-50 h-50' />
    {{/each}}
  </div>
{{/if}}
